body{
    background: linear-gradient(95deg, #8AF8D7 0%, #1A413C 100%);
}
.bio {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 94px;
    font-weight: 700;
    margin-top: 50px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.text {
    width: 50%;
}

.white {
    color: #EBFFFC;
}

.purple {
    color: #1A413C;
}

p {
color: #EBFFFC;
letter-spacing: 2px;
font-size: 24px;
font-family: 'Inter', sans-serif;
font-weight: 500;
}

h3 {
color: white;
font-size: 30px;
font-family: 'Inter', sans-serif;
font-weight: 700;
}

.wrapper {
    position: relative;
    width: 50%;
    margin-top: 5%;
    height: 450px;
}

.rectangle {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C8E9DF;
    border-radius: 50px 0 0 50px;
    z-index: 1;
}

.photo {
    position: absolute;
    right: 20%;
    top: 6%;
    width: 370px;
    z-index: 2;
}

.next-btn {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    padding: 12px 24px;
    background-color: #1B423D;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.next-btn:hover {
    background-color: #66BDA5;
}

.lists {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 200px; 
    padding: 30px;
}

.list-item {
    width: 250px;
}

table, th, td {
  border: 1px solid black;
  font-size: 22px;
font-family: 'Inter', sans-serif;
  font-weight: 500;

}

th, td {
  padding: 15px;
  text-align: center;
}
